header{
  position: relative;
  height: 100vh;
  @extend %flex-center;
  overflow: hidden;
  background-color: $background_grey;
  .header_container{
    width: 90%;
    max-width: 1000px;
    .text_container{
      z-index: 20;
      max-width: 410px;
      h1{
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }

  .shape_container{
    position: absolute;
    width: 992px;
    height: 100%;
    right: 200px;
    img{
      position: absolute;
    }
    #smile{
      position: relative;
      width: 250px;
      height: 250px;
      top: 25%;
      left: 50%;
    }

    #roundStick{
      width: 75px;
      top: 20%;
      left: 78%;
    }
    #hexagon{
      width: 150px;
      top: 12%;
      left: 93%;
    }
    #star4{
      width: 125px;
      top: 40%;
      left: 90%;
    }
    #star{
      width: 125px;
      top: 52%;
      left: 105%;
    }
    #triangle{
      width: 125px;
      top: 60%;
      left: 72%
    }
    #rectangle{
      width: 125px;
      top: 72%;
      left: 88%;
    }
    #circle{
      width: 50px;
      top: 86%;
      left: 105%;
    }
  }
  @media screen and (max-width: 1160px){
    align-items: flex-start;
    .header_container{
      margin-top: 17vh;
    }
    .shape_container{
      width: 576px;
      right: 0;
      #smile{
        top: 50%;
        left: 0%;
      }
      #roundStick{
        top: 38%;
        left: 40%;
      }
      #hexagon{
        width: 100px;
        top: 15%;
        left: 80%;
      }
      #star4{
        top: 35%;
        left: 62%;
      }
      #star{
        top: 45%;
        left: 90%;
      }
      #triangle{
        width: 100px;
        top: 80%;
        left: 45%;
      }
      #rectangle{
        width: 125px;
        top: 65%;
        left: 65%;
      }
      #circle{
        width: 50px;
        top: 86%;
        left: 90%;
      }
    }
  }
  @media screen and (max-width: 576px){
    .shape_container{
      width: 320px;
      #smile{
        width: 150px;
        height: 150px;
        top: 60%;
        left: 7%;
      }
      #roundStick{
        width: 44px;
        top: 54%;
        left: 53%;
      }
      #hexagon{
        width: 66px;
        top: 15%;
        left: 80%;
      }
      #star4{
        width: 66px;
        top: 40%;
        left: 70%;
      }
      #star{
        width: 66px;
        top: 60%;
        left: 90%;
      }
      #triangle{
        width: 55px;
        top: 90%;
        left: 45%;
      }
      #rectangle{
        width: 66px;
        top: 72%;
        left: 62%;
      }
      #circle{
        width: 33px;
        top: 86%;
        left: 85%;
      }
    }
    @media screen and (max-width: 320px){
      .shape_container{
        left: 0;
      }
    }
  }
}
