#story{
  @extend %flex-center;
  flex-direction: column;
  background-color: $background_grey;
  height: 100vh;
  .story_container{
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    @extend %flex-center;
    justify-content: flex-end;
    .text_container{
      width: 300px;
      @extend %flex-center;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      z-index: 10;
      margin-right: 20px;
    }
    .shape_container{
      position: absolute;
      width: 992px;
      height: 100%;
      right: 0;
      img{
        position: absolute;
      }
      #pond{
        width: 500px;
        top: 20%;
        left: -5%;
      }
      #fishUp{
        width: 150px;
        top: 20%;
        left: 38%
      }
      #fishDown{
        width: 150px;
        top: 68%;
        left: 23%;
      }
    }
    @media screen and (max-width: 960px){
      .shape_container{
        width: 768px;
        #pond{
          left: -15%;
        }
        #fishUp{
          left: 40%
        }
        #fishDown{
          left: 20%;
        }
      }
    }
    @media screen and (max-width: 768px){
      justify-content: flex-end;
      .shape_container{
        width: 576px;
        #pond{
          width: 400px;
          top: 22%;
          left: -25%;
        }
        #fishUp{
          width: 125px;
          top: 22%;
          left: 35%
        }
        #fishDown{
          width: 125px;
          top: 62%;
          left: 15%;
        }
      }
    }
    @media screen and (max-width: 470px){
      justify-content: space-around;
      flex-direction: column-reverse;
      .text_container{
        margin-right: 0;
      }
      .shape_container{
        position: relative;
        height: 180px;
        width: 275px;
        #pond{
          width: 250px;
          top: 0;
          left: 0;
        }
        #fishUp{
          width: 75px;
          top: 20px;
          left: 220px
        }
        #fishDown{
          width: 75px;
          top: 120px;
          left: 140px;
        }
      }
    }
  }
}
